button > .far,.fas{
    color:#000;
    font-size: 25px;
}
button > .fa-times-circle:hover{
    color:#F00;
}
button > .fa-check-circle:hover{
    color:#0F0;
}
button > .fa-edit:hover{
    color:#3a51ee;
}
button > .fa-plus-circle:hover{
    color: #3a51ee;
}
button > .fa-arrow-alt-circle-down:hover{
    color: #3a51ee;
}
button > .button{
    display: block;
    background: transparent;
    border: none;
    padding: 2px;
    margin: 0;
}
